.menu{
    border: solid 0.4px #FF0000;
    background-color: #620209;
    height: 80px;
    display: flex;
    padding-left: 4%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.part_logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.part_logo a{
    transition: all ease-in-out 0.2s;
}
.part_logo a:hover{
    transform: scale(1.1);
}
.part_blank{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #FE7D24;
}
.part_socialmedia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.part_socialmedia a{
    transition: all ease-in-out 0.2s;
}
.part_socialmedia a:hover{
    transform: scale(1.2);
}